on: push

name: render

jobs:
  render:
    runs-on: ubuntu-latest
    container: rocker/verse
    steps:
    - name: Checkout
      uses: actions/checkout@v2 # If you're using actions/checkout@v2 you must set persist-credentials to false in most cases for the deployment to work correctly.
      with:
        persist-credentials: false
      
    - name: render rmarkdown  
      run: Rscript -e 'rmarkdown::render("index.Rmd")'
      
    - name: Upload results
      uses: actions/upload-artifact@master
      with:
        name: results
        path: index.html

  checkout-and-deploy:
    runs-on: ubuntu-latest
    needs: render
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
          name: results
      
      - run: cd results
          
      - run: mv index.html ../
      
      - run: cd ..
          
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        with:
          ACCESS_TOKEN: ${{ secrets.actions }} # https://github.com/settings/tokens
          BRANCH: master # The branch the action should deploy to.
          FOLDER: . # The folder the action should deploy.