on: push

name: render

jobs:
  render:
    runs-on: ubuntu-latest
    container: rocker/verse
    steps:
      - uses: actions/checkout@v1
      - run: Rscript -e 'rmarkdown::render("index.Rmd")'
      
      - name: Upload results
        uses: actions/upload-artifact@master
        with:
          name: results
          path: index.html
          
  checkout-and-deploy:
    runs-on: ubuntu-latest
    needs: render
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
         # Artifact name
          name: results # optional
         # Destination path
          path: index.html # optional
         
     -  name: Install npm
        uses: actions/setup-node@v1      
      
      - name: Deploy to Netlify
        # NETLIFY_AUTH_TOKEN added in the repo's secrets
        env:
          NETLIFY_AUTH_TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          NETLIFY_SITE_ID: ${{ secrets.NETLIFY_SITE_ID }}
        run: |
          npm install netlify-cli -g
          netlify deploy -p
