on: 
  schedule:
     # * is a special character in YAML so you have to quote this string
    - cron:  '*/20 * * * *'
  
name: render

jobs:
   render:
    runs-on: ubuntu-latest
    container: rocker/verse
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      
    - name: render rmarkdown  
      run: Rscript -e 'rmarkdown::render("index.Rmd")'
      
    - name: Upload results
      uses: actions/upload-artifact@v1
      with:
        name: docs
        path: index.html
              
    - name: Checkout
      uses: actions/checkout@master
    - name: Download artifact
      uses: actions/download-artifact@v1.0.0
      with:
        name: docs

#    - name: Push changes to repo
 #     run: |
  #       REMOTE=https://${{ secrets.actions }}@github.com/${{ github.repository }}
   #       git config user.email "${{ github.actor }}@users.noreply.github.com"
    #      git config user.name "${{ github.actor }}"
          
     #     git pull ${REMOTE}
      #    git checkout master
       #   git add .
        #  git status
         # git commit -am "Add new comment"
        #  git push ${REMOTE} master


  build:
    runs-on: ubuntu-latest
    needs: render
    steps:
    - name: Trigger our build webhook on Netlify
      run: curl -s -X POST "https://api.netlify.com/build_hooks/${token}"
      env:
        TOKEN: ${{ secrets.NETLIFY_AUTH_TOKEN }}