on: push

name: render

jobs:
  render:
    runs-on: ubuntu-latest
    container: rocker/verse
    steps:
      - uses: actions/checkout@v1
      - run: Rscript -e 'rmarkdown::render("docs/index.Rmd")'
      
      - name: Upload results
        uses: actions/upload-artifact@master
        with:
          name: results
          path: docs/
          
  checkout-and-deploy:
    runs-on: ubuntu-latest
    needs: render
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@v1
        with:
         # Artifact name
          name: results # optional
         # Destination path
          path: docs/ # optional
     
      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@releases/v3
        env:
          GH_TOKEN: ${{ secrets.actions }} # https://github.com/settings/tokens
          BUILD_DIR: _docs/                     # "_site/" by default
          CNAME: aaronconway.info                      # in case of custom domain
          